.root {
  margin-bottom: 1rem;
}

.title {
  margin: 0;
  font-size: 1.25rem;
}

.title-link {
  text-decoration: none;
  color: #404040;
}

.title-link:hover {
  text-decoration: none;
  color: #404040;
}

.nav {
  /*position: fixed;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
}

.nav-container {
  padding: 0 1rem;
  height: 70px;
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s ease;
  /*background-color: lightblue;*/
}

.brand {
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  /*background-color: red;*/
}

.link {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500;
}

.link:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.link-active {
  color: rgba(0, 0, 0, 0.85);
}
